*{
    margin: 0px;
    padding: 0px;
}
img {
    background-color: aqua;
}
nav{
    padding: 20px;
    background-color: brown;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
}
.detail {
    margin-left: 80px;
    position: relative;
    bottom: 40px;
    left: 150px;
    display: inline;
}
#logo {
    position: absolute;
    top: 110px;
    left: 24px;
    color: brown;
    margin-left: 0px;
}
main {
    margin-top: 154px;
}
#tag{
    position: absolute;
    top: 400px;
    left: 350px;
}
#tag1{
    position: absolute;
    top:450px;
    left: 200px;
}
.quote{
    color: blanchedalmond;
}
#menu{
    float: right;
}
#order{
    text-align: center;
    padding: 30px;
    background-color: burlywood;
    margin-top: 0px;
}
#section{
    margin-top: 5px;
}
#footer{
    margin-top: 122px;
    width: 100%;
    text-align: center;
    background-color: black;
    color: antiquewhite;
    padding-top: 50px;
    padding-bottom: 50px;
}
.left{
    margin-left: 10px;
}